header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  z-index: 99;
}

header img {
  width: 128px;
  margin: 20px 10px 0;
  height: 45px;
}

header a {
  margin-left: auto;
  display: block;
}

#content {
  margin-top: 75px;
  background-color: #ebb94d;
}

.font--small {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 12px;
  padding-bottom: 3px;
}

.font--16 {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 16px;
}

.font--18 {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 18px;
}

.font--20 {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
}

.font--big {
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 50px;
  font-size: 26px;
}

.font__bottom {
  margin-top: auto;
  margin-bottom: 15px;
}

.font--cw {
  color: white;
}

.font--cr {
  color: red;
}

.font--cg {
  color: #333333;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.lh30 {
  line-height: 30px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 20px 15%;
}

.btn--radius__small {
  background-color: #da6b64;
  color: white;
  width: 261px;
  height: 41px;
  border-radius: 18px;
  margin: 20px 10px 15px;
  text-align: center;
}

.btn--radius__small p {
  font-size: 12px;
  text-align: center;
  top: 10px;
  padding: 14px 0 15px;
}

.brackets {
  padding: 10px;
  margin: 20px auto 50px;
  position: relative;
  width: 800px;
}

.brackets::before, .brackets::after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
}

.brackets::before {
  border-left: solid 3px #ebb94d;
  border-top: solid 3px #ebb94d;
  top: 0;
  left: 0;
}

.brackets::after {
  border-right: solid 3px #ebb94d;
  border-bottom: solid 3px #ebb94d;
  bottom: 0;
  right: 0;
}

#main {
  background: url(img/main.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#main--content {
  position: relative;
  text-align: center;
  margin-top: 50px;
  padding-top: 90px;
}

#main--content img {
  width: 317px;
  margin: 20px 0 40px;
}

#deadline {
  background-color: #ebb94d;
  text-align: center;
  padding: 40px;
}

#deadline span {
  background: white;
  border-radius: 4px;
}

#deadline div.outer {
  background-color: #da6b64;
  width: 1028px;
  height: 104px;
  margin: 40px auto 60px;
  border-radius: 52px;
  position: relative;
}

#deadline div.inner {
  position: absolute;
  margin: 38px auto 38px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 28px;
  color: white;
}

#free_for_engineer {
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
  line-height: 40px;
  padding: 40px 5px 5px;
  background-image: url(img/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 587px;
}

#free_for_engineer span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #ebb94d));
  background: linear-gradient(transparent 50%, #ebb94d 50%);
  font-weight: bold;
}

#about {
  background-color: #fef5e0;
  text-align: center;
  padding: 60px 0;
}

#about div {
  margin: 0 auto;
  width: 1170px;
  background: white;
  padding: 30px;
  border: 2px solid #ebb94d;
}

#about div table {
  display: inline;
}

#about div table td {
  text-align: center;
  padding: 10px;
  line-height: 15px;
}

#about div table td > img {
  display: inline;
}

#about div table td > p {
  font-size: 11;
  letter-spacing: 3;
}

#support {
  background-image: url(img/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  height: 392px;
  text-align: center;
  padding: 40px 5px 5px;
}

#support span {
  color: #ebb94d;
}

#support div.box {
  width: 314px;
  background: white;
  height: 117;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
  margin: 0 30px;
}

#support p.step {
  background: #ebb94d;
  font-weight: bold;
  line-height: 1.4;
  color: white;
  letter-spacing: 1.5;
  margin-bottom: 25px;
}

#blue {
  padding: 40px 0;
  text-align: center;
  background-color: #016ea9;
  color: #fff;
}

#blue span {
  color: #ebb94d;
}

#member {
  background-image: url(img/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 60px 0 30px;
}

#member .member_info {
  margin: 0 20px;
}

#member .member_info img {
  border-radius: 50%;
  display: inline;
  bottom: -35px;
  position: relative;
}

#member .member_detail {
  width: 280px;
  border: 2px solid white;
  text-align: center;
  padding: 40px 30px 30px;
  height: 310px;
}

#member p {
  letter-spacing: 1;
  line-height: 2;
}

#member .detail {
  line-height: 1.5;
  text-align: left;
}

#member .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form {
  position: relative;
  padding: 40px 0;
  text-align: center;
  background-color: #ebb94d;
}

#form table {
  display: inline;
}

#form input {
  height: 45px;
  width: 1000px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  color: gray;
  padding-left: 10px;
}

#form textarea {
  height: 90px;
  width: 1000px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  color: gray;
  padding-left: 10px;
  margin-top: 25px;
}

#form div.outer {
  background-color: #da6b64;
  width: 1000px;
  height: 50px;
  margin: 40px auto 60px;
  border-radius: 52px;
  position: relative;
  text-align: center;
}

#form div.inner {
  position: absolute;
  margin: 15px auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 23px;
  color: white;
  letter-spacing: 20;
}
/*# sourceMappingURL=style.css.map */